<section id="wrapper">
    <header>
      <h1>Piper EYE&#153;</h1>
    </header>
<meta name="viewport" content="width=620" />

<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <article>
      <p>Finding your location: <span id="status">checking...</span></p>
    </article>
<script>
var socket;
window.onload = function(){
  // send to socket
  socket = io();
  
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error);
  } else {
    error('not supported');
  }

}

function success(position) {
  
  var s = document.querySelector('#status');
  var cl = document.querySelector('#closure');
  if (s.className == 'success') {   
    return;
  }
  
  cl.innerHTML = "Close this window and return to your chat...";

  s.innerHTML = "found you!";
  s.className = 'success';
  
  var mapcanvas = document.createElement('div');
  mapcanvas.id = 'mapcanvas';
  mapcanvas.style.height = '400px';
  mapcanvas.style.width = '560px';
    
  document.querySelector('article').appendChild(mapcanvas);
  
  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  var myOptions = {
    zoom: 15,
    center: latlng,
    mapTypeControl: false,
    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
  
  var marker = new google.maps.Marker({
      position: latlng, 
      map: map, 
      title:"You are here! (at least within a "+position.coords.accuracy+" meter radius)"
  });

  var r = document.querySelector('#ref');
  var ref = r.innerHTML;
  var returnPackage = { ref : ref,
                        lat : position.coords.latitude,
                        longt : position.coords.longitude };

  if (!socket) {
    socket = io();
  }
  socket.emit('geodata', returnPackage);
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    window.location.href = 'slack://open';
  }

  

}

function error(msg) {
  var s = document.querySelector('#status');
  var cl = document.querySelector('#closure');
  
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
  
  cl.innerHTML = "Close this window and return to your chat...";
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    window.location.href = 'slack://open';
  }
}





</script>
  <footer><span id="closure">&nbsp;</span></footer>
</section>
<script src="js/prettify.packed.js"></script>
<span id="ref" style="display:none">{{{ref}}}</span>
<script>
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
try {
var pageTracker = _gat._getTracker("UA-1656750-18");
pageTracker._trackPageview();
} catch(err) {}</script>